.Titre-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.Title {
    color: #00b39b;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: 300;
    font-family: Work Sans,Arial,sans-serif;
}
.descriptif {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 400;
    margin-left: 100px;
    margin-right: 100px;
}
.cards {
    height: 345px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.patients {
    height: 345px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #00ccb1;
}
.doctors {
    height: 345px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #3d83df;
}
.clinics {
    height: 345px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: black;
}
.cards h2 {
    font-weight: 300;
    font-size: larger;
    margin-top: 20px;
    margin-left: 50px;
}
.cards p {
    font-weight: 300;
    font-size: larger;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.country {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 60px;
    font-weight: 300;
    font-size: larger;
}
.specialists {
    font-weight: 300;
    font-size: larger;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 60px;
}
.company {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 70px;

}
.head-section {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00b39b;

}
.clinics img {
    margin-top: 20px;
    margin-left: 20px;
}
.doctors img {
    margin-top: 20px;
    margin-left: 20px;
}
.patients img {
    margin-top: 20px;
    margin-left: 20px;
}
.Kits Électroniques{
    
}